<!DOCTYPE html>
<html>
<head>
  <title>Chat App</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
  <nav class="nav-bar">
      <a href="/" class="nav-bar-item">Home</a>
      {% if session.get('user_id') %}
          <a href="{{ profile_service_url }}/logout" class="nav-bar-item">Logout</a>
      {% else %}
          <!-- <a href="/login" class="nav-bar-item">Login</a> -->
          <a href="{{ profile_service_url }}/login" class="nav-bar-item">Login</a>
      {% endif %}
  </nav>
  <div class="content">
      {% block content %}{% endblock %}
  </div>
</body>
</html>
