{% extends "base.html" %}

{% block content %}
<h1>{{ room.chatroom_name }}</h1>
<p class="chatroom-description"> {{ room.description }}</p>

<ul id="messages" class="messages-list">
  {% for msg in messages %}
      <li class="message-item">
          <strong class="message-username">{{ msg.username }} (ID: {{ msg.user }}):</strong> 
          <span class="message-text">{{ msg.message }}</span>
          <small class="message-timestamp">({{ msg.timestamp.strftime('%Y-%m-%d %H:%M:%S') }})</small>
      </li>
  {% endfor %} <!-- Close the for loop -->
</ul>

<form method="post" class="message-form">
  <div class="form-group">
    <label for="message">Message:</label>
    <input type="text" id="message" name="message" required class="form-input"><br><br>
    <button type="submit" class="button">Send</button>
  </div>
</form>

<a href="/chatrooms" class="button">Back to Chatrooms</a>
{% endblock %}
