{% extends "base.html" %}

{% block content %}
<h1>Create a New Chatroom</h1>
<form method="post" class="basic-form">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
    <div class="form-group">
        <label for="chatroom_name">Chatroom Name:</label>
        <input type="text" id="chatroom_name" class="form-input" name="chatroom_name" required><br><br>
    </div>  
    <div class="form-group">
        <label for="description">Description:</label>
        <textarea id="description" name="description" rows="4" cols="50" class="form-input"></textarea><br><br>

    </div>
    
    <button type="submit" class="button">Create Chatroom</button>
</form>
<a href="{{ url_for('chatrooms') }}" class="button">Back to Chatrooms</a>
{% endblock %}
